.block {
  width:  400px;
  margin: 10% auto;
  text-align: center;
}

.form {
  width:  360px;
  border: solid #E0E0E0 1px;
  border-radius: 10px;
  background: #FFF;
  padding: 20px;
  text-align: center;
}

.form-control p {
  margin-bottom: 7px;
}

.input-block {
  border-radius: 0.25rem;
  font-size: 14px;
  margin-top: 20px;

  cursor: text;
}

.input-control {
  position: relative;
  width: 100%;
  height: inherit;
  border-radius: 0.25rem;
  font-size: 14px;

  cursor: text;
}

.inside {
  border: 0px;
  border-color: transparent;
  background-color: #FFF;
  border: 1.5px solid #E0E0E0;
}

.wrapper {
  width: 100%;
  height: 40px;
}

.req {
  color: red;
  visibility : hidden;
}

label.move-out {
  position: absolute;
  top: 12px;
  left: 12px;
  color: grey;
  transition: top 0.1s, left 0.1s;
  pointer-events: none;
}

input:focus+label.move-out,
input:not( :placeholder-shown)+label.move-out,
input:-webkit-autofill+label.move-out {
  top: -9px;
  left: 12px;
  transition: top 0.2s, left 0.2s;
  font-size: 14px;
  color: black;
  background-color: white;
}

input {
  width: 84%;
  height: 24px;
  border-radius: 0.25rem;
  padding: 8px 40px 8px 8px;
  margin: 0px;
  font-size: 16px;
  line-height: 21px;
  outline: none;

  border-color: transparent;
  border-width: 0px;
  outline-color: none;
  background-color: #FFF;
}

.addBorder {
  border: 2px solid #6E34F4;
}

.img-item {
  position: absolute;
  width: 20px;
  height: 100%;
  right: 15px;
  top: 10px;
}

.img-item img {
  width: 20px;
  max-height: 100%;
}

input:focus {
  outline: none;
}

img:hover {
  cursor: pointer;
}

.buttonSubmit {
  width: 100%;
  height: 35px;
  font-weight: 700;
  height: 40px;
  font-size: 16px;

  background-color: #6E34F4;
  color: #fff;
  cursor: pointer;
  border-color: transparent;
}

.passStrength{
  margin-left: 2px;
  margin-top: 19px;
  background-color: red;
  height: 3px;
  width: 35%;
  display: inline-block;
  float: left;
  transition: width 1s;
}

.passLabel {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 16px;
  color: red;
}


.button-34 {
  background-color: #E9F5FE;
  width: 100px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 10px;
}

.button-34:hover {
  cursor: pointer;
  background-color: #239BF4;
  color: white;
}

.btnActive {
  background-color: #239BF4;
  color: white;
}


.list-wrapper{
  width: 100%;
}

.select-btn, li{
  align-items: center;
  cursor: pointer;
}

.select-btn{
  position: relative;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  background: #fff;
  border: 1.5px solid #E0E0E0;
}

.content ul {
  list-style-type: none;
  padding: 0px;
}

.select-btn i{
  font-size: 31px;
  transition: transform 0.3s linear;
}

.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}

.content{
  position: absolute;
  z-index: 10;
  width: 360px;
  display: none;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.list-wrapper.active .content{
  display: block;
}

.content .search{
  position: relative;
}

.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}

.search input{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}

.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}

.search input::placeholder{
  color: #bfbfbf;
}

.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}

.options::-webkit-scrollbar{
  width: 7px;
}

.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}

.options li{
  height: 30px;
  font-size: 16px;
}

.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
